:host {
	display: block;
	--grid-gap: 2rem;
	--grid-columns: 1;
	--min-column-width: 480px;
	--max-row-height: 480px;
}

.grid {
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
}

.grid-row {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), minmax(var(--min-column-width), 1fr));
	gap: var(--grid-gap);
	align-items: stretch;
	max-height: var(--max-row-height);
}

.grid-item {
	box-sizing: border-box;
	width: 100%;
	align-self: stretch;
	height: 100%;
	max-height: var(--max-row-height);
}

.grid-item > atlas-chart,
.grid-item > atlas-table {
	display: block;
	width: 100%;
	height: 100%;
}

@media (max-width: 480px) {
	.grid-row {
		display: flex;
		flex-direction: column;
	}
}
